@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  border: none;
  vertical-align: middle; }

html, body {
  height: 100%; }


.body_A{
	background: #fff;
}

.login_bg{
	width: 100%;
}

.login_header{
	width: 919px;
	height: 40px;
	margin: 0 auto;
}

.login_header img{
	padding-top: 25px;
}

.login_content{
	width: 100%;
	background: url(../img/Sign%20in/login-bg.png) center no-repeat;
}

.login_center{
	height: 600px;
	background: url(../img/Sign%20in/login-c.png) center no-repeat;
}

.login_block{
	width: 360px;
	height: auto;
	background: #FFFFFF;
	position: absolute;
	top: 200px;
	right: 170px;
	border: 3px solid #c3c4c3;
}

.login_denglu li{
	float: left;
	width: 122px;
	height: 40px;
	margin: 10px 26px 0 26px;
	line-height: 36px;
	text-align: center;
	color: #000;
	font-size: 18px;
	cursor: pointer;
}

.login_denglu li.active{
	border-bottom: 4px solid #f60;
	font-weight: bold;
	margin-left: 5px;
}

.active_box{
	width: 300px;
	height: auto;
	margin: 0 auto;
	position: relative;
	padding: 30px 0 0;
}

.zhanghao{
	width: 300px;
	height: 40px;
	position: relative;
	margin: 0 0 20px;
	border: 1px solid #ccc;
	margin-top: 40px;
}

.icoName{
	background: url(../img/Sign%20in/ico_name.png) center no-repeat;
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
}

.input_Tip{
	position: absolute;
	top: 10px;
	left: 40px;
	color: #aaa;
	font-size: 14px;
	line-height: 18px;
	cursor: text;
}

.input{
	width: 234px;
	height: 40px;
	line-height: 40px;
	border: 0;
	position: relative;
	display: inline-block;
	float: left;
	
}

.mima{
	width: 298px;
	height: 40px;
	position: relative;
	margin: 0 0 20px;
	border: 1px solid #ccc;
}

.icoPwd{
	background: url(../img/Sign%20in/ico_pwd.png) center no-repeat;
	width: 40px;
	height: 40px;
	display: inline-block;
	float: left;
}

.confirm{
	width: 300px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	border: 0;
	background: #f60;
	color: #fff;
	cursor: pointer;
	display: block;
	text-align: center;
	text-decoration: none;
	position: relative;
}

.nav_link{
	padding: 15px 0 0 0;
	font-size: 12px;
}
	
.link_left{
	float: left;
}

.link_right{
	float: right;
}






















